body {
    display: flex;
    align-items: center;
    justify-content: center;
}

#gauss-chart {
    width: 750px;
    height: 500px;
}

.c3-axis-y text {
    font-size: 16px;
}

.c3-axis-x text {
    font-size: 16px;
}
